requests
python-dotenv
mcp
youtube-search
youtube-transcript-api
googlesearch-python
azure-ai-vision-imageanalysis #Remove if not used
html_to_markdown

# Database
psycopg[binary]>=3.0.0  # Using psycopg3 with binary package